<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Passenger Records</title>
</head>
<body>
    <h1><b>Passenger Records</b></h1>
    <a href="/showNewPassengerForm">Add New Passenger</a>
    <table border="3">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Visa Type</th>
                <th>Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Visa Expiry Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="passenger : ${listPassengers}">
                <td th:text="${passenger.userId}"></td>
                <td th:text="${passenger.visaType}"></td>
                <td th:text="${passenger.name}"></td>
                <td th:text="${passenger.mobileNo}"></td>
                <td th:text="${passenger.email}"></td>
                <td th:text="${passenger.visaExpDate}"></td>
                <td>
                    <a th:href="@{/showFormForUpdate/{id}(id=${passenger.userId})}">Edit</a>
                    <a th:href="@{/deletePassenger/{id}(id=${passenger.userId})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
